.modal{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.5)
}
.modal-content{
  width: 600rpx;
  background-color: #fff;
  border-radius: 10rpx;
  position: absolute;
  left: calc(50% - 300rpx);
  top: 200rpx;
  overflow: hidden;
}
.modal-header{
  width: 100%;
  height: 100rpx;
  font-size: 32rpx;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.modal-header .iconfont{
  font-size: 24rpx;
  color: #666;
  position: absolute;
  right: 30rpx;
  top: 35rpx;
}
.modal-body{
  width: calc(100% - 100rpx);
  min-height: 190rpx;
  padding: 30rpx 50rpx 20rpx;
}
.modal-input{
  width: calc(100% - 42rpx);
  height: 80rpx;
  padding: 0 20rpx;
  border: 1rpx solid #eee;
  border-radius: 4rpx;
  background-color: #f6f6f6;
  font-size: 28rpx;
  color: #333;
}
.modal-footer{
  width: 100%;
  height: 89rpx;
  border-top: 1rpx solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-footer button{
  width: calc(50% - 0.5rpx);
  height: 100%;
  line-height: 89rpx;
  font-size: 32rpx;
  color: #a78760;
  background-color: #fff !important;
}
.modal-footer button::after{
  border: none !important;
}
.modal-footer-line{
  width: 2rpx;
  height: 40rpx;
  background-color: #eee;
}